/* common elements */

// TEST //
h1 {
  .old-regular();
  font-size: 45px;
  color: @white;
  text-align: center;
  margin: 0;
}

.test-divers {
  padding: 25px 50px;
  .flex-block();
  .flex-direction(column);
  .align-items(center);
  .justify-content(center);
  .btn-modal {
    display: inline-block;
    text-align: center;
    padding: 10px 15px;
    margin: 10px;
    .roboto-bold();
    font-size: 18px;
    color: #010202;
    background-color: @white;
    cursor: pointer;
    &:hover {
      color: @white;
      background: @black;
    }
  }
}