/* --- fonts --- */
@font-face {
  font-family: "RobotoSlab-Regular";
  src: url("../fonts/roboto-slab/RobotoSlab-Regular.eot"); /* IE9 Compat Modes */
  src: url("../fonts/roboto-slab/RobotoSlab-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/roboto-slab/RobotoSlab-Regular.otf") format("opentype"), /* Open Type Font */
    url("../fonts/roboto-slab/RobotoSlab-Regular.svg") format("svg"), /* Legacy iOS */
    url("../fonts/roboto-slab/RobotoSlab-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/roboto-slab/RobotoSlab-Regular.woff") format("woff"), /* Modern Browsers */
    url("../fonts/roboto-slab/RobotoSlab-Regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RobotoSlab-Bold";
  src: url("../fonts/roboto-slab/RobotoSlab-Bold.eot"); /* IE9 Compat Modes */
  src: url("../fonts/roboto-slab/RobotoSlab-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/roboto-slab/RobotoSlab-Bold.otf") format("opentype"), /* Open Type Font */
    url("../fonts/roboto-slab/RobotoSlab-Bold.svg") format("svg"), /* Legacy iOS */
    url("../fonts/roboto-slab/RobotoSlab-Bold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/roboto-slab/RobotoSlab-Bold.woff") format("woff"), /* Modern Browsers */
    url("../fonts/roboto-slab/RobotoSlab-Bold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OldNewspaperTypes";
  src: url("../fonts/old-newspaper-types/OldNewspaperTypes.eot"); /* IE9 Compat Modes */
  src: url("../fonts/old-newspaper-types/OldNewspaperTypes.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/old-newspaper-types/OldNewspaperTypes.otf") format("opentype"), /* Open Type Font */
    url("../fonts/old-newspaper-types/OldNewspaperTypes.svg") format("svg"), /* Legacy iOS */
    url("../fonts/old-newspaper-types/OldNewspaperTypes.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/old-newspaper-types/OldNewspaperTypes.woff") format("woff"), /* Modern Browsers */
    url("../fonts/old-newspaper-types/OldNewspaperTypes.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

