.roboto-regular {
  font-family: 'RobotoSlab-Regular', 'Arial', sans-serif;
}
.roboto-bold {
  font-family: 'RobotoSlab-Bold', 'Arial', sans-serif;
}
.old-regular {
  font-family: 'OldNewspaperTypes', 'Arial', sans-serif;
}
/* --- fonts --- */
@font-face {
  font-family: "RobotoSlab-Regular";
  src: url("../fonts/roboto-slab/RobotoSlab-Regular.eot");
  src: url("../fonts/roboto-slab/RobotoSlab-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("../fonts/roboto-slab/RobotoSlab-Regular.otf") format("opentype"), /* Open Type Font */ url("../fonts/roboto-slab/RobotoSlab-Regular.svg") format("svg"), /* Legacy iOS */ url("../fonts/roboto-slab/RobotoSlab-Regular.ttf") format("truetype"), /* Safari, Android, iOS */ url("../fonts/roboto-slab/RobotoSlab-Regular.woff") format("woff"), /* Modern Browsers */ url("../fonts/roboto-slab/RobotoSlab-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  
  /* IE9 Compat Modes */
  /* Modern Browsers */
}
@font-face {
  font-family: "RobotoSlab-Bold";
  src: url("../fonts/roboto-slab/RobotoSlab-Bold.eot");
  src: url("../fonts/roboto-slab/RobotoSlab-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("../fonts/roboto-slab/RobotoSlab-Bold.otf") format("opentype"), /* Open Type Font */ url("../fonts/roboto-slab/RobotoSlab-Bold.svg") format("svg"), /* Legacy iOS */ url("../fonts/roboto-slab/RobotoSlab-Bold.ttf") format("truetype"), /* Safari, Android, iOS */ url("../fonts/roboto-slab/RobotoSlab-Bold.woff") format("woff"), /* Modern Browsers */ url("../fonts/roboto-slab/RobotoSlab-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  
  /* IE9 Compat Modes */
  /* Modern Browsers */
}
@font-face {
  font-family: "OldNewspaperTypes";
  src: url("../fonts/old-newspaper-types/OldNewspaperTypes.eot");
  src: url("../fonts/old-newspaper-types/OldNewspaperTypes.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("../fonts/old-newspaper-types/OldNewspaperTypes.otf") format("opentype"), /* Open Type Font */ url("../fonts/old-newspaper-types/OldNewspaperTypes.svg") format("svg"), /* Legacy iOS */ url("../fonts/old-newspaper-types/OldNewspaperTypes.ttf") format("truetype"), /* Safari, Android, iOS */ url("../fonts/old-newspaper-types/OldNewspaperTypes.woff") format("woff"), /* Modern Browsers */ url("../fonts/old-newspaper-types/OldNewspaperTypes.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  
  /* IE9 Compat Modes */
  /* Modern Browsers */
}
/* --- special background layers --- */
/* liquid ink */
#container-liquid-ink {
  position: fixed;
  z-index: -2;
  opacity: .8;
}
/* Particles */
.animation-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
.animation-wrapper .particle {
  position: absolute;
  display: inline-block;
  bottom: 0;
}
.animation-wrapper .particle:after {
  position: absolute;
  display: inline-block;
  content: "";
  top: 700px;
}
@-webkit-keyframes animParticle {
  from {
    transform: translateY(0px);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  to {
    transform: translateY(-1920px);
    opacity: 0;
  }
}
@-moz-keyframes animParticle {
  from {
    transform: translateY(0px);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  to {
    transform: translateY(-1920px);
    opacity: 0;
  }
}
@-ms-keyframes animParticle {
  from {
    transform: translateY(0px);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  to {
    transform: translateY(-1920px);
    opacity: 0;
  }
}
@-o-keyframes animParticle {
  from {
    transform: translateY(0px);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  to {
    transform: translateY(-1920px);
    opacity: 0;
  }
}
@keyframes animParticle {
  from {
    transform: translateY(0px);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  to {
    transform: translateY(-1920px);
    opacity: 0;
  }
}
.particule1 {
  -webkit-animation: animParticle 10s linear infinite;
  -moz-animation: animParticle 10s linear infinite;
  animation: animParticle 10s linear infinite;
  width: 4px;
  height: 7px;
  box-shadow: 2184px 172px #000, 1065px 1871px #000, 1175px 1517px #000, 462px 572px #000, 299px 1649px #000, 1017px 579px #000, 1150px 270px #000, 536px 1610px #000, 1982px 1138px #000, 748px 895px #000, 2932px 1242px #000, 2856px 1719px #000, 335px 640px #000, 2223px 1408px #000, 2125px 1130px #000, 1211px 502px #000, 827px 942px #000, 1847px 932px #000, 1977px 1114px #000, 604px 234px #000, 698px 855px #000, 1049px 740px #000, 1594px 511px #000, 1919px 460px #000, 2639px 214px #000, 1263px 290px #000, 1505px 611px #000, 663px 285px #000, 1148px 1256px #000, 599px 1398px #000, 1179px 470px #000, 2840px 1388px #000, 1576px 1513px #000, 425px 1111px #000, 2340px 969px #000, 124px 532px #000, 296px 1799px #000, 1892px 1838px #000, 662px 836px #000, 835px 1345px #000, 2766px 390px #000, 2504px 1146px #000, 586px 1895px #000, 2981px 46px #000, 390px 798px #000, 747px 1468px #000, 25px 889px #000, 944px 644px #000, 1028px 1505px #000, 1552px 645px #000, 2810px 1178px #000, 2863px 1087px #000, 1486px 281px #000, 543px 1327px #000, 786px 582px #000, 2804px 23px #000, 2431px 272px #000, 2064px 1340px #000, 904px 1509px #000, 184px 184px #000, 1797px 1588px #000, 248px 981px #000, 332px 1671px #000, 390px 1133px #000, 300px 1123px #000, 396px 423px #000, 1624px 190px #000, 329px 619px #000, 1745px 1254px #000, 862px 1819px #000, 2632px 740px #000, 2200px 456px #000, 2057px 953px #000, 2194px 802px #000, 1893px 1202px #000, 1448px 1384px #000, 1758px 1955px #000, 1356px 1976px #000, 2971px 1588px #000, 297px 1351px #000, 2318px 1944px #000, 714px 534px #000, 1589px 1856px #000, 2572px 91px #000, 170px 1365px #000, 1066px 837px #000, 106px 1603px #000, 2758px 424px #000, 1363px 860px #000, 1979px 1090px #000, 2064px 288px #000, 2140px 1182px #000, 1436px 1899px #000, 2629px 938px #000, 1802px 1483px #000, 2421px 1221px #000, 2263px 1038px #000, 2435px 533px #000, 113px 568px #000, 2121px 168px #000, 2831px 430px #000, 266px 1583px #000, 2647px 1353px #000, 2105px 820px #000, 1481px 199px #000, 2833px 155px #000, 2574px 34px #000, 93px 385px #000, 2323px 154px #000, 744px 933px #000, 1767px 924px #000, 1084px 668px #000, 2844px 31px #000, 936px 1371px #000, 1791px 1454px #000, 780px 527px #000, 2965px 367px #000, 2678px 1481px #000, 1800px 41px #000, 1977px 1257px #000, 2476px 64px #000, 398px 1106px #000, 427px 805px #000, 1934px 1712px #000, 937px 1269px #000, 2267px 1232px #000, 407px 1125px #000, 1971px 971px #000, 1579px 61px #000, 1409px 1080px #000, 745px 1326px #000, 2368px 1284px #000, 2482px 1981px #000, 2649px 496px #000, 2782px 835px #000, 889px 1192px #000, 2528px 199px #000, 274px 1258px #000, 2202px 567px #000, 33px 1600px #000, 2315px 1862px #000, 1894px 18px #000, 1362px 1143px #000, 2781px 1237px #000, 2424px 159px #000, 34px 1450px #000, 540px 1839px #000, 872px 1870px #000, 92px 538px #000, 2927px 1160px #000;
}
.particule1:after {
  width: 4px;
  height: 7px;
  box-shadow: 2184px 172px #000, 1065px 1871px #000, 1175px 1517px #000, 462px 572px #000, 299px 1649px #000, 1017px 579px #000, 1150px 270px #000, 536px 1610px #000, 1982px 1138px #000, 748px 895px #000, 2932px 1242px #000, 2856px 1719px #000, 335px 640px #000, 2223px 1408px #000, 2125px 1130px #000, 1211px 502px #000, 827px 942px #000, 1847px 932px #000, 1977px 1114px #000, 604px 234px #000, 698px 855px #000, 1049px 740px #000, 1594px 511px #000, 1919px 460px #000, 2639px 214px #000, 1263px 290px #000, 1505px 611px #000, 663px 285px #000, 1148px 1256px #000, 599px 1398px #000, 1179px 470px #000, 2840px 1388px #000, 1576px 1513px #000, 425px 1111px #000, 2340px 969px #000, 124px 532px #000, 296px 1799px #000, 1892px 1838px #000, 662px 836px #000, 835px 1345px #000, 2766px 390px #000, 2504px 1146px #000, 586px 1895px #000, 2981px 46px #000, 390px 798px #000, 747px 1468px #000, 25px 889px #000, 944px 644px #000, 1028px 1505px #000, 1552px 645px #000, 2810px 1178px #000, 2863px 1087px #000, 1486px 281px #000, 543px 1327px #000, 786px 582px #000, 2804px 23px #000, 2431px 272px #000, 2064px 1340px #000, 904px 1509px #000, 184px 184px #000, 1797px 1588px #000, 248px 981px #000, 332px 1671px #000, 390px 1133px #000, 300px 1123px #000, 396px 423px #000, 1624px 190px #000, 329px 619px #000, 1745px 1254px #000, 862px 1819px #000, 2632px 740px #000, 2200px 456px #000, 2057px 953px #000, 2194px 802px #000, 1893px 1202px #000, 1448px 1384px #000, 1758px 1955px #000, 1356px 1976px #000, 2971px 1588px #000, 297px 1351px #000, 2318px 1944px #000, 714px 534px #000, 1589px 1856px #000, 2572px 91px #000, 170px 1365px #000, 1066px 837px #000, 106px 1603px #000, 2758px 424px #000, 1363px 860px #000, 1979px 1090px #000, 2064px 288px #000, 2140px 1182px #000, 1436px 1899px #000, 2629px 938px #000, 1802px 1483px #000, 2421px 1221px #000, 2263px 1038px #000, 2435px 533px #000, 113px 568px #000, 2121px 168px #000, 2831px 430px #000, 266px 1583px #000, 2647px 1353px #000, 2105px 820px #000, 1481px 199px #000, 2833px 155px #000, 2574px 34px #000, 93px 385px #000, 2323px 154px #000, 744px 933px #000, 1767px 924px #000, 1084px 668px #000, 2844px 31px #000, 936px 1371px #000, 1791px 1454px #000, 780px 527px #000, 2965px 367px #000, 2678px 1481px #000, 1800px 41px #000, 1977px 1257px #000, 2476px 64px #000, 398px 1106px #000, 427px 805px #000, 1934px 1712px #000, 937px 1269px #000, 2267px 1232px #000, 407px 1125px #000, 1971px 971px #000, 1579px 61px #000, 1409px 1080px #000, 745px 1326px #000, 2368px 1284px #000, 2482px 1981px #000, 2649px 496px #000, 2782px 835px #000, 889px 1192px #000, 2528px 199px #000, 274px 1258px #000, 2202px 567px #000, 33px 1600px #000, 2315px 1862px #000, 1894px 18px #000, 1362px 1143px #000, 2781px 1237px #000, 2424px 159px #000, 34px 1450px #000, 540px 1839px #000, 872px 1870px #000, 92px 538px #000, 2927px 1160px #000;
}
.particule2 {
  -webkit-animation: animParticle 12s linear infinite;
  -moz-animation: animParticle 12s linear infinite;
  animation: animParticle 12s linear infinite;
  width: 4px;
  height: 7px;
  box-shadow: 562px 207px 5px #000, 2046px 1233px 5px #000, 1124px 442px 5px #000, 1993px 869px 5px #000, 2738px 395px 5px #000, 1130px 1815px 5px #000, 2631px 1237px 5px #000, 1643px 1896px 5px #000, 2638px 967px 5px #000, 1962px 898px 5px #000, 1298px 1175px 5px #000, 1942px 1786px 5px #000, 1738px 240px 5px #000, 2408px 1609px 5px #000, 2268px 1524px 5px #000, 2590px 1234px 5px #000, 2417px 829px 5px #000, 1425px 215px 5px #000, 2950px 1200px 5px #000, 1176px 546px 5px #000, 240px 740px 5px #000, 523px 1241px 5px #000, 2162px 393px 5px #000, 1140px 1579px 5px #000, 2633px 312px 5px #000, 2192px 186px 5px #000, 1902px 1832px 5px #000, 676px 1702px 5px #000, 1475px 758px 5px #000, 2284px 107px 5px #000, 1527px 1211px 5px #000, 458px 242px 5px #000, 1113px 1620px 5px #000, 1260px 1701px 5px #000, 2718px 1804px 5px #000, 1677px 537px 5px #000, 1808px 223px 5px #000, 1428px 1361px 5px #000, 892px 1039px 5px #000, 165px 1217px 5px #000, 697px 474px 5px #000, 1514px 1161px 5px #000, 233px 680px 5px #000, 417px 960px 5px #000, 610px 840px 5px #000, 2363px 187px 5px #000, 1533px 62px 5px #000, 2419px 1308px 5px #000, 1214px 766px 5px #000, 2022px 1376px 5px #000, 2519px 1222px 5px #000, 1054px 987px 5px #000, 819px 684px 5px #000, 2665px 1336px 5px #000, 2002px 1070px 5px #000, 2923px 1049px 5px #000, 693px 1276px 5px #000, 1788px 319px 5px #000, 2394px 1437px 5px #000, 241px 1275px 5px #000, 352px 1827px 5px #000, 702px 1791px 5px #000, 1919px 216px 5px #000, 2313px 1381px 5px #000, 71px 117px 5px #000, 998px 1342px 5px #000, 513px 1248px 5px #000, 21px 768px 5px #000, 173px 1199px 5px #000, 1282px 1631px 5px #000, 2066px 88px 5px #000, 1602px 1372px 5px #000, 1886px 1001px 5px #000, 2120px 672px 5px #000, 2974px 1190px 5px #000, 1577px 1618px 5px #000, 2233px 1700px 5px #000, 623px 337px 5px #000, 2414px 643px 5px #000, 1353px 753px 5px #000, 2892px 123px 5px #000, 1283px 78px 5px #000, 285px 854px 5px #000, 2470px 1663px 5px #000, 1503px 1239px 5px #000, 448px 1628px 5px #000, 2609px 462px 5px #000, 1996px 1680px 5px #000, 1859px 540px 5px #000, 153px 1240px 5px #000, 118px 965px 5px #000, 373px 363px 5px #000, 1049px 827px 5px #000, 2234px 284px 5px #000, 1744px 1093px 5px #000, 32px 672px 5px #000, 1822px 1532px 5px #000, 444px 1456px 5px #000, 1714px 1345px 5px #000, 2176px 950px 5px #000, 2307px 851px 5px #000, 1627px 173px 5px #000, 2369px 1626px 5px #000, 1483px 893px 5px #000, 176px 1897px 5px #000, 343px 1904px 5px #000, 554px 246px 5px #000, 473px 1188px 5px #000, 2135px 1952px 5px #000, 2480px 1082px 5px #000, 943px 1788px 5px #000, 35px 891px 5px #000, 1978px 1347px 5px #000, 2384px 1662px 5px #000, 1562px 853px 5px #000, 2731px 1719px 5px #000, 1710px 1127px 5px #000, 705px 1226px 5px #000, 1519px 45px 5px #000, 1808px 1922px 5px #000, 823px 1277px 5px #000, 2439px 1261px 5px #000, 902px 176px 5px #000, 2459px 806px 5px #000, 1052px 836px 5px #000, 2810px 470px 5px #000, 561px 454px 5px #000, 2166px 1409px 5px #000, 860px 1672px 5px #000, 1670px 1821px 5px #000, 2216px 1427px 5px #000, 2984px 1375px 5px #000, 2962px 1772px 5px #000, 129px 1421px 5px #000, 2179px 1216px 5px #000, 1423px 904px 5px #000, 288px 130px 5px #000, 1939px 381px 5px #000, 1956px 715px 5px #000, 1249px 235px 5px #000, 1079px 255px 5px #000, 2656px 548px 5px #000, 2016px 782px 5px #000, 1472px 1368px 5px #000, 2111px 1916px 5px #000, 2472px 741px 5px #000, 2611px 760px 5px #000, 200px 1495px 5px #000, 713px 1901px 5px #000, 1493px 1122px 5px #000;
}
.particule2:after {
  width: 4px;
  height: 7px;
  box-shadow: 562px 207px 5px #000, 2046px 1233px 5px #000, 1124px 442px 5px #000, 1993px 869px 5px #000, 2738px 395px 5px #000, 1130px 1815px 5px #000, 2631px 1237px 5px #000, 1643px 1896px 5px #000, 2638px 967px 5px #000, 1962px 898px 5px #000, 1298px 1175px 5px #000, 1942px 1786px 5px #000, 1738px 240px 5px #000, 2408px 1609px 5px #000, 2268px 1524px 5px #000, 2590px 1234px 5px #000, 2417px 829px 5px #000, 1425px 215px 5px #000, 2950px 1200px 5px #000, 1176px 546px 5px #000, 240px 740px 5px #000, 523px 1241px 5px #000, 2162px 393px 5px #000, 1140px 1579px 5px #000, 2633px 312px 5px #000, 2192px 186px 5px #000, 1902px 1832px 5px #000, 676px 1702px 5px #000, 1475px 758px 5px #000, 2284px 107px 5px #000, 1527px 1211px 5px #000, 458px 242px 5px #000, 1113px 1620px 5px #000, 1260px 1701px 5px #000, 2718px 1804px 5px #000, 1677px 537px 5px #000, 1808px 223px 5px #000, 1428px 1361px 5px #000, 892px 1039px 5px #000, 165px 1217px 5px #000, 697px 474px 5px #000, 1514px 1161px 5px #000, 233px 680px 5px #000, 417px 960px 5px #000, 610px 840px 5px #000, 2363px 187px 5px #000, 1533px 62px 5px #000, 2419px 1308px 5px #000, 1214px 766px 5px #000, 2022px 1376px 5px #000, 2519px 1222px 5px #000, 1054px 987px 5px #000, 819px 684px 5px #000, 2665px 1336px 5px #000, 2002px 1070px 5px #000, 2923px 1049px 5px #000, 693px 1276px 5px #000, 1788px 319px 5px #000, 2394px 1437px 5px #000, 241px 1275px 5px #000, 352px 1827px 5px #000, 702px 1791px 5px #000, 1919px 216px 5px #000, 2313px 1381px 5px #000, 71px 117px 5px #000, 998px 1342px 5px #000, 513px 1248px 5px #000, 21px 768px 5px #000, 173px 1199px 5px #000, 1282px 1631px 5px #000, 2066px 88px 5px #000, 1602px 1372px 5px #000, 1886px 1001px 5px #000, 2120px 672px 5px #000, 2974px 1190px 5px #000, 1577px 1618px 5px #000, 2233px 1700px 5px #000, 623px 337px 5px #000, 2414px 643px 5px #000, 1353px 753px 5px #000, 2892px 123px 5px #000, 1283px 78px 5px #000, 285px 854px 5px #000, 2470px 1663px 5px #000, 1503px 1239px 5px #000, 448px 1628px 5px #000, 2609px 462px 5px #000, 1996px 1680px 5px #000, 1859px 540px 5px #000, 153px 1240px 5px #000, 118px 965px 5px #000, 373px 363px 5px #000, 1049px 827px 5px #000, 2234px 284px 5px #000, 1744px 1093px 5px #000, 32px 672px 5px #000, 1822px 1532px 5px #000, 444px 1456px 5px #000, 1714px 1345px 5px #000, 2176px 950px 5px #000, 2307px 851px 5px #000, 1627px 173px 5px #000, 2369px 1626px 5px #000, 1483px 893px 5px #000, 176px 1897px 5px #000, 343px 1904px 5px #000, 554px 246px 5px #000, 473px 1188px 5px #000, 2135px 1952px 5px #000, 2480px 1082px 5px #000, 943px 1788px 5px #000, 35px 891px 5px #000, 1978px 1347px 5px #000, 2384px 1662px 5px #000, 1562px 853px 5px #000, 2731px 1719px 5px #000, 1710px 1127px 5px #000, 705px 1226px 5px #000, 1519px 45px 5px #000, 1808px 1922px 5px #000, 823px 1277px 5px #000, 2439px 1261px 5px #000, 902px 176px 5px #000, 2459px 806px 5px #000, 1052px 836px 5px #000, 2810px 470px 5px #000, 561px 454px 5px #000, 2166px 1409px 5px #000, 860px 1672px 5px #000, 1670px 1821px 5px #000, 2216px 1427px 5px #000, 2984px 1375px 5px #000, 2962px 1772px 5px #000, 129px 1421px 5px #000, 2179px 1216px 5px #000, 1423px 904px 5px #000, 288px 130px 5px #000, 1939px 381px 5px #000, 1956px 715px 5px #000, 1249px 235px 5px #000, 1079px 255px 5px #000, 2656px 548px 5px #000, 2016px 782px 5px #000, 1472px 1368px 5px #000, 2111px 1916px 5px #000, 2472px 741px 5px #000, 2611px 760px 5px #000, 200px 1495px 5px #000, 713px 1901px 5px #000, 1493px 1122px 5px #000;
}
.particule3 {
  -webkit-animation: animParticle 15s linear infinite;
  -moz-animation: animParticle 15s linear infinite;
  animation: animParticle 15s linear infinite;
  width: 4px;
  height: 7px;
  box-shadow: 1832px 137px 10px #000, 1147px 176px 10px #000, 2336px 330px 10px #000, 1014px 62px 10px #000, 2455px 191px 10px #000, 2118px 1681px 10px #000, 2834px 775px 10px #000, 1674px 1703px 10px #000, 1584px 486px 10px #000, 1976px 525px 10px #000, 2322px 238px 10px #000, 760px 504px 10px #000, 1323px 148px 10px #000, 2637px 1018px 10px #000, 983px 259px 10px #000, 2405px 1107px 10px #000, 81px 1837px 10px #000, 2924px 660px 10px #000, 2120px 1161px 10px #000, 1602px 1311px 10px #000, 2891px 301px 10px #000, 2609px 1590px 10px #000, 1100px 402px 10px #000, 2536px 757px 10px #000, 1137px 1604px 10px #000, 2078px 225px 10px #000, 1140px 915px 10px #000, 578px 1572px 10px #000, 215px 34px 10px #000, 2966px 896px 10px #000, 2745px 1946px 10px #000, 2083px 1319px 10px #000, 2472px 1338px 10px #000, 1272px 319px 10px #000, 151px 928px 10px #000, 2218px 418px 10px #000, 2596px 1090px 10px #000, 2224px 814px 10px #000, 337px 786px 10px #000, 992px 1745px 10px #000, 1290px 1733px 10px #000, 1840px 791px 10px #000, 31px 572px 10px #000, 2355px 886px 10px #000, 1251px 532px 10px #000, 2538px 904px 10px #000, 2756px 1021px 10px #000, 1769px 69px 10px #000, 981px 605px 10px #000, 2050px 1027px 10px #000, 425px 317px 10px #000, 2112px 392px 10px #000, 2541px 966px 10px #000, 2509px 1818px 10px #000, 1437px 1627px 10px #000, 764px 487px 10px #000, 1524px 394px 10px #000, 2039px 406px 10px #000, 466px 1744px 10px #000, 2636px 504px 10px #000, 1759px 1384px 10px #000, 2902px 612px 10px #000, 1525px 525px 10px #000, 1054px 218px 10px #000, 2560px 716px 10px #000, 1803px 1777px 10px #000, 743px 1029px 10px #000, 1005px 630px 10px #000, 1758px 593px 10px #000, 2358px 1678px 10px #000, 479px 786px 10px #000, 859px 760px 10px #000, 1542px 1561px 10px #000, 1664px 1313px 10px #000, 1258px 399px 10px #000, 1303px 473px 10px #000, 1333px 31px 10px #000, 1539px 198px 10px #000, 1336px 1339px 10px #000, 2847px 681px 10px #000, 2315px 923px 10px #000, 1304px 1327px 10px #000, 1500px 1095px 10px #000, 2866px 1917px 10px #000, 557px 909px 10px #000, 680px 765px 10px #000, 2367px 1475px 10px #000, 1033px 241px 10px #000, 1840px 1867px 10px #000, 2324px 664px 10px #000, 1566px 506px 10px #000, 2676px 657px 10px #000, 2452px 816px 10px #000, 1732px 749px 10px #000, 1820px 1129px 10px #000, 1515px 838px 10px #000, 2369px 1413px 10px #000, 158px 584px 10px #000, 854px 1219px 10px #000, 2842px 313px 10px #000, 382px 1800px 10px #000, 2962px 802px 10px #000, 1480px 1622px 10px #000, 1460px 744px 10px #000, 2971px 1708px 10px #000, 2308px 56px 10px #000, 2425px 569px 10px #000, 1322px 1460px 10px #000, 584px 1398px 10px #000, 2648px 298px 10px #000, 2729px 488px 10px #000, 33px 1791px 10px #000, 2485px 1307px 10px #000, 860px 1014px 10px #000, 1938px 687px 10px #000, 2617px 77px 10px #000, 113px 746px 10px #000, 478px 1968px 10px #000, 2889px 1093px 10px #000, 353px 291px 10px #000, 2656px 1625px 10px #000, 2994px 490px 10px #000, 2649px 137px 10px #000, 2812px 25px 10px #000, 1932px 1575px 10px #000, 1048px 927px 10px #000, 1566px 98px 10px #000, 2291px 1873px 10px #000, 2885px 22px 10px #000, 1824px 452px 10px #000, 2024px 1412px 10px #000, 625px 1882px 10px #000, 1184px 1258px 10px #000, 1857px 1765px 10px #000, 1017px 1723px 10px #000, 1695px 161px 10px #000, 2070px 807px 10px #000, 1152px 935px 10px #000, 2867px 1621px 10px #000, 782px 1984px 10px #000, 2925px 75px 10px #000, 118px 677px 10px #000, 509px 1568px 10px #000, 2747px 1083px 10px #000, 285px 1012px 10px #000, 276px 1168px 10px #000, 1319px 1378px 10px #000, 483px 1807px 10px #000, 2214px 967px 10px #000, 538px 1151px 10px #000;
}
.particule3:after {
  width: 4px;
  height: 7px;
  box-shadow: 1832px 137px 10px #000, 1147px 176px 10px #000, 2336px 330px 10px #000, 1014px 62px 10px #000, 2455px 191px 10px #000, 2118px 1681px 10px #000, 2834px 775px 10px #000, 1674px 1703px 10px #000, 1584px 486px 10px #000, 1976px 525px 10px #000, 2322px 238px 10px #000, 760px 504px 10px #000, 1323px 148px 10px #000, 2637px 1018px 10px #000, 983px 259px 10px #000, 2405px 1107px 10px #000, 81px 1837px 10px #000, 2924px 660px 10px #000, 2120px 1161px 10px #000, 1602px 1311px 10px #000, 2891px 301px 10px #000, 2609px 1590px 10px #000, 1100px 402px 10px #000, 2536px 757px 10px #000, 1137px 1604px 10px #000, 2078px 225px 10px #000, 1140px 915px 10px #000, 578px 1572px 10px #000, 215px 34px 10px #000, 2966px 896px 10px #000, 2745px 1946px 10px #000, 2083px 1319px 10px #000, 2472px 1338px 10px #000, 1272px 319px 10px #000, 151px 928px 10px #000, 2218px 418px 10px #000, 2596px 1090px 10px #000, 2224px 814px 10px #000, 337px 786px 10px #000, 992px 1745px 10px #000, 1290px 1733px 10px #000, 1840px 791px 10px #000, 31px 572px 10px #000, 2355px 886px 10px #000, 1251px 532px 10px #000, 2538px 904px 10px #000, 2756px 1021px 10px #000, 1769px 69px 10px #000, 981px 605px 10px #000, 2050px 1027px 10px #000, 425px 317px 10px #000, 2112px 392px 10px #000, 2541px 966px 10px #000, 2509px 1818px 10px #000, 1437px 1627px 10px #000, 764px 487px 10px #000, 1524px 394px 10px #000, 2039px 406px 10px #000, 466px 1744px 10px #000, 2636px 504px 10px #000, 1759px 1384px 10px #000, 2902px 612px 10px #000, 1525px 525px 10px #000, 1054px 218px 10px #000, 2560px 716px 10px #000, 1803px 1777px 10px #000, 743px 1029px 10px #000, 1005px 630px 10px #000, 1758px 593px 10px #000, 2358px 1678px 10px #000, 479px 786px 10px #000, 859px 760px 10px #000, 1542px 1561px 10px #000, 1664px 1313px 10px #000, 1258px 399px 10px #000, 1303px 473px 10px #000, 1333px 31px 10px #000, 1539px 198px 10px #000, 1336px 1339px 10px #000, 2847px 681px 10px #000, 2315px 923px 10px #000, 1304px 1327px 10px #000, 1500px 1095px 10px #000, 2866px 1917px 10px #000, 557px 909px 10px #000, 680px 765px 10px #000, 2367px 1475px 10px #000, 1033px 241px 10px #000, 1840px 1867px 10px #000, 2324px 664px 10px #000, 1566px 506px 10px #000, 2676px 657px 10px #000, 2452px 816px 10px #000, 1732px 749px 10px #000, 1820px 1129px 10px #000, 1515px 838px 10px #000, 2369px 1413px 10px #000, 158px 584px 10px #000, 854px 1219px 10px #000, 2842px 313px 10px #000, 382px 1800px 10px #000, 2962px 802px 10px #000, 1480px 1622px 10px #000, 1460px 744px 10px #000, 2971px 1708px 10px #000, 2308px 56px 10px #000, 2425px 569px 10px #000, 1322px 1460px 10px #000, 584px 1398px 10px #000, 2648px 298px 10px #000, 2729px 488px 10px #000, 33px 1791px 10px #000, 2485px 1307px 10px #000, 860px 1014px 10px #000, 1938px 687px 10px #000, 2617px 77px 10px #000, 113px 746px 10px #000, 478px 1968px 10px #000, 2889px 1093px 10px #000, 353px 291px 10px #000, 2656px 1625px 10px #000, 2994px 490px 10px #000, 2649px 137px 10px #000, 2812px 25px 10px #000, 1932px 1575px 10px #000, 1048px 927px 10px #000, 1566px 98px 10px #000, 2291px 1873px 10px #000, 2885px 22px 10px #000, 1824px 452px 10px #000, 2024px 1412px 10px #000, 625px 1882px 10px #000, 1184px 1258px 10px #000, 1857px 1765px 10px #000, 1017px 1723px 10px #000, 1695px 161px 10px #000, 2070px 807px 10px #000, 1152px 935px 10px #000, 2867px 1621px 10px #000, 782px 1984px 10px #000, 2925px 75px 10px #000, 118px 677px 10px #000, 509px 1568px 10px #000, 2747px 1083px 10px #000, 285px 1012px 10px #000, 276px 1168px 10px #000, 1319px 1378px 10px #000, 483px 1807px 10px #000, 2214px 967px 10px #000, 538px 1151px 10px #000;
}
.particule4 {
  -webkit-animation: animParticle 20s linear infinite;
  -moz-animation: animParticle 20s linear infinite;
  animation: animParticle 20s linear infinite;
  width: 4px;
  height: 7px;
  box-shadow: 2322px 366px 20px #000, 768px 568px 20px #000, 2888px 31px 20px #000, 856px 1581px 20px #000, 2685px 1630px 20px #000, 765px 1730px 20px #000, 1767px 1272px 20px #000, 1965px 1111px 20px #000, 2606px 1625px 20px #000, 2134px 10px 20px #000, 2778px 105px 20px #000, 2550px 455px 20px #000, 2163px 639px 20px #000, 273px 1800px 20px #000, 385px 1807px 20px #000, 107px 821px 20px #000, 2280px 1948px 20px #000, 1288px 492px 20px #000, 2907px 43px 20px #000, 1030px 1110px 20px #000, 1080px 1000px 20px #000, 456px 198px 20px #000, 1999px 333px 20px #000, 232px 1818px 20px #000, 997px 429px 20px #000, 2949px 1323px 20px #000, 1996px 1742px 20px #000, 2145px 289px 20px #000, 43px 311px 20px #000, 136px 987px 20px #000, 691px 157px 20px #000, 1156px 1770px 20px #000, 2386px 165px 20px #000, 1095px 1829px 20px #000, 465px 1898px 20px #000, 925px 995px 20px #000, 79px 241px 20px #000, 295px 184px 20px #000, 2614px 1474px 20px #000, 965px 607px 20px #000, 525px 3px 20px #000, 567px 88px 20px #000, 268px 942px 20px #000, 305px 962px 20px #000, 1840px 1562px 20px #000, 1819px 1260px 20px #000, 1368px 1835px 20px #000, 1856px 1539px 20px #000, 676px 491px 20px #000, 366px 1834px 20px #000, 600px 88px 20px #000, 916px 354px 20px #000, 267px 882px 20px #000, 2074px 1313px 20px #000, 177px 811px 20px #000, 2739px 931px 20px #000, 683px 1045px 20px #000, 1197px 297px 20px #000, 2232px 1916px 20px #000, 2246px 1664px 20px #000, 1965px 90px 20px #000, 1620px 1184px 20px #000, 2049px 1004px 20px #000, 111px 250px 20px #000, 933px 1376px 20px #000, 2317px 1887px 20px #000, 860px 1699px 20px #000, 2151px 1413px 20px #000, 1381px 1039px 20px #000, 2432px 1493px 20px #000, 169px 13px 20px #000, 316px 1989px 20px #000, 2422px 435px 20px #000, 1903px 972px 20px #000, 2415px 715px 20px #000, 530px 912px 20px #000, 1920px 1896px 20px #000, 445px 1782px 20px #000, 1021px 165px 20px #000, 1115px 996px 20px #000, 2907px 808px 20px #000, 2890px 1860px 20px #000, 2420px 427px 20px #000, 1168px 559px 20px #000, 1918px 657px 20px #000, 1979px 1587px 20px #000, 1442px 1277px 20px #000, 1335px 1720px 20px #000, 1821px 321px 20px #000, 1235px 1772px 20px #000, 1316px 151px 20px #000, 460px 1382px 20px #000, 2955px 1963px 20px #000, 1941px 1535px 20px #000, 999px 146px 20px #000, 181px 1395px 20px #000, 1880px 651px 20px #000, 1780px 1656px 20px #000, 1134px 1165px 20px #000, 1447px 1809px 20px #000, 2731px 770px 20px #000, 866px 353px 20px #000, 1240px 1343px 20px #000, 2654px 1492px 20px #000, 1177px 945px 20px #000, 1804px 706px 20px #000, 1281px 468px 20px #000, 1089px 881px 20px #000, 2802px 605px 20px #000, 1129px 1641px 20px #000, 1318px 980px 20px #000, 740px 974px 20px #000, 2840px 1533px 20px #000, 767px 1403px 20px #000, 2560px 33px 20px #000, 1980px 263px 20px #000, 129px 343px 20px #000, 739px 944px 20px #000, 2684px 872px 20px #000, 2493px 891px 20px #000, 2439px 1357px 20px #000, 2524px 1112px 20px #000, 2211px 448px 20px #000, 2946px 892px 20px #000, 2174px 383px 20px #000, 648px 39px 20px #000, 157px 985px 20px #000, 2607px 357px 20px #000, 1565px 1874px 20px #000, 175px 282px 20px #000, 322px 1487px 20px #000, 2093px 1127px 20px #000, 253px 818px 20px #000, 1212px 509px 20px #000, 128px 1571px 20px #000, 11px 868px 20px #000, 431px 315px 20px #000, 1706px 239px 20px #000, 1857px 562px 20px #000, 1608px 1505px 20px #000, 264px 1574px 20px #000, 785px 1925px 20px #000, 44px 1590px 20px #000, 441px 747px 20px #000, 2214px 435px 20px #000, 434px 99px 20px #000, 1930px 100px 20px #000, 753px 1876px 20px #000, 2901px 1582px 20px #000, 2776px 1935px 20px #000;
}
.particule4:after {
  width: 4px;
  height: 7px;
  box-shadow: 2322px 366px 20px #000, 768px 568px 20px #000, 2888px 31px 20px #000, 856px 1581px 20px #000, 2685px 1630px 20px #000, 765px 1730px 20px #000, 1767px 1272px 20px #000, 1965px 1111px 20px #000, 2606px 1625px 20px #000, 2134px 10px 20px #000, 2778px 105px 20px #000, 2550px 455px 20px #000, 2163px 639px 20px #000, 273px 1800px 20px #000, 385px 1807px 20px #000, 107px 821px 20px #000, 2280px 1948px 20px #000, 1288px 492px 20px #000, 2907px 43px 20px #000, 1030px 1110px 20px #000, 1080px 1000px 20px #000, 456px 198px 20px #000, 1999px 333px 20px #000, 232px 1818px 20px #000, 997px 429px 20px #000, 2949px 1323px 20px #000, 1996px 1742px 20px #000, 2145px 289px 20px #000, 43px 311px 20px #000, 136px 987px 20px #000, 691px 157px 20px #000, 1156px 1770px 20px #000, 2386px 165px 20px #000, 1095px 1829px 20px #000, 465px 1898px 20px #000, 925px 995px 20px #000, 79px 241px 20px #000, 295px 184px 20px #000, 2614px 1474px 20px #000, 965px 607px 20px #000, 525px 3px 20px #000, 567px 88px 20px #000, 268px 942px 20px #000, 305px 962px 20px #000, 1840px 1562px 20px #000, 1819px 1260px 20px #000, 1368px 1835px 20px #000, 1856px 1539px 20px #000, 676px 491px 20px #000, 366px 1834px 20px #000, 600px 88px 20px #000, 916px 354px 20px #000, 267px 882px 20px #000, 2074px 1313px 20px #000, 177px 811px 20px #000, 2739px 931px 20px #000, 683px 1045px 20px #000, 1197px 297px 20px #000, 2232px 1916px 20px #000, 2246px 1664px 20px #000, 1965px 90px 20px #000, 1620px 1184px 20px #000, 2049px 1004px 20px #000, 111px 250px 20px #000, 933px 1376px 20px #000, 2317px 1887px 20px #000, 860px 1699px 20px #000, 2151px 1413px 20px #000, 1381px 1039px 20px #000, 2432px 1493px 20px #000, 169px 13px 20px #000, 316px 1989px 20px #000, 2422px 435px 20px #000, 1903px 972px 20px #000, 2415px 715px 20px #000, 530px 912px 20px #000, 1920px 1896px 20px #000, 445px 1782px 20px #000, 1021px 165px 20px #000, 1115px 996px 20px #000, 2907px 808px 20px #000, 2890px 1860px 20px #000, 2420px 427px 20px #000, 1168px 559px 20px #000, 1918px 657px 20px #000, 1979px 1587px 20px #000, 1442px 1277px 20px #000, 1335px 1720px 20px #000, 1821px 321px 20px #000, 1235px 1772px 20px #000, 1316px 151px 20px #000, 460px 1382px 20px #000, 2955px 1963px 20px #000, 1941px 1535px 20px #000, 999px 146px 20px #000, 181px 1395px 20px #000, 1880px 651px 20px #000, 1780px 1656px 20px #000, 1134px 1165px 20px #000, 1447px 1809px 20px #000, 2731px 770px 20px #000, 866px 353px 20px #000, 1240px 1343px 20px #000, 2654px 1492px 20px #000, 1177px 945px 20px #000, 1804px 706px 20px #000, 1281px 468px 20px #000, 1089px 881px 20px #000, 2802px 605px 20px #000, 1129px 1641px 20px #000, 1318px 980px 20px #000, 740px 974px 20px #000, 2840px 1533px 20px #000, 767px 1403px 20px #000, 2560px 33px 20px #000, 1980px 263px 20px #000, 129px 343px 20px #000, 739px 944px 20px #000, 2684px 872px 20px #000, 2493px 891px 20px #000, 2439px 1357px 20px #000, 2524px 1112px 20px #000, 2211px 448px 20px #000, 2946px 892px 20px #000, 2174px 383px 20px #000, 648px 39px 20px #000, 157px 985px 20px #000, 2607px 357px 20px #000, 1565px 1874px 20px #000, 175px 282px 20px #000, 322px 1487px 20px #000, 2093px 1127px 20px #000, 253px 818px 20px #000, 1212px 509px 20px #000, 128px 1571px 20px #000, 11px 868px 20px #000, 431px 315px 20px #000, 1706px 239px 20px #000, 1857px 562px 20px #000, 1608px 1505px 20px #000, 264px 1574px 20px #000, 785px 1925px 20px #000, 44px 1590px 20px #000, 441px 747px 20px #000, 2214px 435px 20px #000, 434px 99px 20px #000, 1930px 100px 20px #000, 753px 1876px 20px #000, 2901px 1582px 20px #000, 2776px 1935px 20px #000;
}
/* ICON style & animations */
/* close */
.close_icon .tache {
  fill: #3d3d3d;
  opacity: .5;
  transition: all 1.7s ease;
  -webkit-transition: all 1.7s ease;
  -o-transition: all 1.7s ease;
  -moz-transition: all 1.7s ease;
}
.close_icon .fond {
  fill: #3d3d3d;
}
.close_icon .croix {
  fill: #010202;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: all 3.7s ease;
  -webkit-transition: all 3.7s ease;
  -o-transition: all 3.7s ease;
  -moz-transition: all 3.7s ease;
}
.close_icon:hover {
  cursor: pointer;
}
.close_icon:hover .tache {
  fill: #ffffff;
  opacity: 1;
  transition: all 1.7s ease;
  -webkit-transition: all 1.7s ease;
  -o-transition: all 1.7s ease;
  -moz-transition: all 1.7s ease;
}
.close_icon:hover .croix {
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
  transition: all 3.7s ease;
  -webkit-transition: all 3.7s ease;
  -o-transition: all 3.7s ease;
  -moz-transition: all 3.7s ease;
}
/* valider */
.valider_icon .tache {
  fill: #3d3d3d;
  opacity: .5;
  transition: all 1.7s ease;
  -webkit-transition: all 1.7s ease;
  -o-transition: all 1.7s ease;
  -moz-transition: all 1.7s ease;
}
.valider_icon .fond {
  fill: #3d3d3d;
}
.valider_icon .signe {
  fill: #010202;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: all 3.7s ease;
  -webkit-transition: all 3.7s ease;
  -o-transition: all 3.7s ease;
  -moz-transition: all 3.7s ease;
}
.valider_icon:hover .tache {
  fill: #ffffff;
  opacity: 1;
  transition: all 1.7s ease;
  -webkit-transition: all 1.7s ease;
  -o-transition: all 1.7s ease;
  -moz-transition: all 1.7s ease;
}
.valider_icon:hover .signe {
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
  transition: all 3.7s ease;
  -webkit-transition: all 3.7s ease;
  -o-transition: all 3.7s ease;
  -moz-transition: all 3.7s ease;
}
/* prev / next */
.back_icon .tache {
  fill: #3d3d3d;
  opacity: .5;
  transition: all 1.7s ease;
  -webkit-transition: all 1.7s ease;
  -o-transition: all 1.7s ease;
  -moz-transition: all 1.7s ease;
}
.back_icon .fleche {
  fill: #010202;
}
.back_icon:hover {
  cursor: pointer;
}
.back_icon:hover .tache {
  fill: #ffffff;
  opacity: 1;
  transition: all 1.7s ease;
  -webkit-transition: all 1.7s ease;
  -o-transition: all 1.7s ease;
  -moz-transition: all 1.7s ease;
}
.back_icon:hover .fleche {
  -webkit-animation: glitch 2s infinite;
  -moz-animation: glitch 2s infinite;
  animation: glitch 2s infinite;
}
/* ANIMATIONS */
@-webkit-keyframes glitch {
  45% {
    filter: none;
  }
  46% {
    filter: url(#dist-01);
  }
  47% {
    filter: url(#dist-02);
  }
  48% {
    filter: url(#dist-03);
  }
  50% {
    filter: none;
  }
  95% {
    filter: none;
  }
  96% {
    filter: url(#dist-02);
  }
  97% {
    filter: url(#dist-04);
  }
}
@-moz-keyframes glitch {
  45% {
    filter: none;
  }
  46% {
    filter: url(#dist-01);
  }
  47% {
    filter: url(#dist-02);
  }
  48% {
    filter: url(#dist-03);
  }
  50% {
    filter: none;
  }
  95% {
    filter: none;
  }
  96% {
    filter: url(#dist-02);
  }
  97% {
    filter: url(#dist-04);
  }
}
@-ms-keyframes glitch {
  45% {
    filter: none;
  }
  46% {
    filter: url(#dist-01);
  }
  47% {
    filter: url(#dist-02);
  }
  48% {
    filter: url(#dist-03);
  }
  50% {
    filter: none;
  }
  95% {
    filter: none;
  }
  96% {
    filter: url(#dist-02);
  }
  97% {
    filter: url(#dist-04);
  }
}
@-o-keyframes glitch {
  45% {
    filter: none;
  }
  46% {
    filter: url(#dist-01);
  }
  47% {
    filter: url(#dist-02);
  }
  48% {
    filter: url(#dist-03);
  }
  50% {
    filter: none;
  }
  95% {
    filter: none;
  }
  96% {
    filter: url(#dist-02);
  }
  97% {
    filter: url(#dist-04);
  }
}
@keyframes glitch {
  45% {
    filter: none;
  }
  46% {
    filter: url(#dist-01);
  }
  47% {
    filter: url(#dist-02);
  }
  48% {
    filter: url(#dist-03);
  }
  50% {
    filter: none;
  }
  95% {
    filter: none;
  }
  96% {
    filter: url(#dist-02);
  }
  97% {
    filter: url(#dist-04);
  }
}
/* --- layout --- */
* {
  box-sizing: border-box;
}
/* body */
body {
  margin: 0;
  padding: 0;
  background-image: url("../img/backgrounds/04-peril.jpg");
  background-color: #010202;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  font-family: 'RobotoSlab-Regular', 'Arial', sans-serif;
  height: 100vh;
  overflow: hidden;
}
body.modal-active {
  overflow: hidden;
}
/* container flex */
.container-flex {
  display: block;
  width: 100vw;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
}
/* ratio & display */
.container.hidden,
.modal-container.hidden {
  display: none;
}
.error-ratio {
  display: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: ccenterc;
  -webkit-justify-content: center;
  justify-content: center;
}
.error-ratio.on {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
/* common elements */
/* reset button */
[class^="btn-"] {
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  cursor: pointer;
}
/* reset mise en forme texte */
strong,
b {
  font-weight: normal;
}
h1 {
  font-family: 'OldNewspaperTypes', 'Arial', sans-serif;
  font-size: 45px;
  color: #ffffff;
  text-align: center;
  margin: 0;
}
.test-divers {
  padding: 25px 50px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: ccenterc;
  -webkit-justify-content: center;
  justify-content: center;
}
.test-divers .btn-modal {
  display: inline-block;
  text-align: center;
  padding: 10px 15px;
  margin: 10px;
  border: none;
  font-family: 'RobotoSlab-Bold', 'Arial', sans-serif;
  font-size: 18px;
  color: #010202;
  background-color: #ffffff;
  cursor: pointer;
}
.test-divers .btn-modal:hover {
  color: #ffffff;
  background: #010202;
}
/* Modales */
/* --- global --- */
/* open / close */
.modal-container {
  position: fixed;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: ccenterc;
  -webkit-justify-content: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  z-index: 1;
}
.modal-container.opened {
  z-index: 0;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.modal-container.opened .modal-background {
  background: rgba(0, 0, 0, 0.7);
}
.modal-container.opened .modal-background .modal {
  -webkit-animation: blowUpModal 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  -moz-animation: blowUpModal 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  animation: blowUpModal 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.modal-container.opened + .container {
  z-index: 1;
}
.modal-container.opened.out {
  -webkit-animation: blowUpModalTwo 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  -moz-animation: blowUpModalTwo 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  animation: blowUpModalTwo 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.modal-container.opened.out .modal-background .modal {
  -webkit-animation: blowUpModalTwo 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  -moz-animation: blowUpModalTwo 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  animation: blowUpModalTwo 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.modal-container .modal-background {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: ccenterc;
  -webkit-justify-content: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.8);
}
.modal-container .modal-background .modal {
  display: none;
  background: #ececec;
  -webkit-box-shadow: 0px 0px 80px 80px #010202;
  box-shadow: 0px 0px 80px 80px #010202;
  color: #010202;
  position: relative;
}
.modal-container .modal-background .modal.opened-modal {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
/* modal style global */
.modal {
  width: 738px;
  height: 720px;
  padding: 30px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.modal .modal-header {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.modal .modal-header .modal-title {
  -moz-flex-grow: 1;
  -ms-flex-grow: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: ccenterc;
  -webkit-justify-content: center;
  justify-content: center;
  font-family: 'OldNewspaperTypes', 'Arial', sans-serif;
  color: #333333;
  font-size: 25px;
}
.modal .modal-header .modal-title h2 {
  margin: -25px 0 0 0;
  position: relative;
}
.modal .modal-header .modal-title h2.after-decoration:after {
  content: " ";
  display: inline-block;
  position: absolute;
  width: 225px;
  height: 47px;
  left: calc(50% - 112px);
  bottom: -50px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg class='separator_icon' enable-background='new 0 0 578.93 121.819' height='121.819' viewBox='0 0 578.93 121.819' width='578.93' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m434.62 20.306c17.481-16.46 118.505 42.174 144.31 60.265-16.216-18.62-69.65-48.15-90.773-55.479 17.557-1.407 45.826-1.338 61.506 3.911-9.434-9.169-51.211-13.113-67.034-8.658-22.815-10.371-43.134-11.327-48.913-9.072-13.023-5.527-36.563-7.224-45.674-8.357-9.117-1.132-29.212 3.252-40.086 11.454-5.395.605-21.725-8.273-23.363-8.273-1.641 0-4.146.979-4.146.979v.042c-7 .139-83.397-9.275-94.685-6.656-11.079 2.57-69.233 6.548-78.315 6.488v-.042c-11-3.473-22.116-6.555-23.649-5.979-3.319 1.234-19.021-2.261-32.307.884-13.767 2.071-71.728 12.079-91.491 21.34 12.6-5.095 80.807-13.333 80.807-13.333s-10.735 15.128-19.846 23.417c-5.078 4.617-33.768 19.718-44.655 28.114l-4.221 2.496 5.226-1.218c12.609-5.82 38.706-21.322 38.706-21.322s-14.767 15.982-28.823 32.781l-3.057 6.33 5.212-4.048c22.182-20.077 63.324-74.107 78.886-70.036 9.731 2.549 22.086 5.569 34.969 9.173l3.242.093v.028c6 .853 74.087-7.121 83.761-8.912 9.587-1.775 81.877 14.04 90.306 13.919 1.709 1.183 3.366 2.414 4.894 3.766 11.509 7.856 16.819 7.277 24.581 1.022 7.757-6.237 24.526-14.016 52.899-11.253 28.387 2.742 23.756 7.029 23.756 7.029s37.596 60.06 94.006 100.618l2.693-1.896c-30.218-26.793-70.929-61.9-88.722-99.615z' fill='%236d6d6d'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.modal .modal-header .btn-close {
  width: 75px;
  height: 57px;
  margin-top: -7px;
  margin-right: -12px;
}
.modal .modal-footer {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: ccenterc;
  -webkit-justify-content: center;
  justify-content: center;
}
.modal .modal-footer .btn-valider {
  width: 75px;
  height: 57px;
}
.modal .modal-content {
  -moz-flex-grow: 1;
  -ms-flex-grow: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
/* modal with scrollable content */
.modal.scroll-content .modal-header .btn-close {
  width: 60px;
}
.modal.scroll-content .modal-content {
  padding: 50px 12px 0 0;
  max-height: 610px;
  font-size: 15px;
  overflow-y: auto;
}
.modal.scroll-content .modal-content .modal-p {
  margin: 0 0 25px 0;
}
.modal.scroll-content .modal-content .modal-p a {
  font-family: 'RobotoSlab-Bold', 'Arial', sans-serif;
  color: #010202;
}
.modal.scroll-content .modal-content .modal-p strong {
  font-family: 'RobotoSlab-Bold', 'Arial', sans-serif;
}
.modal.scroll-content .modal-content .sub-title {
  margin: 0 0 20px 0;
  font-size: 17px;
}
.modal.scroll-content .modal-content .mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #666666;
}
.modal.scroll-content .modal-content .mCS-dark.mCSB_scrollTools .mCSB_draggerRail {
  background-color: #ffffff;
}
/* modal with slider */
.modal.illustrations-content {
  width: 982px;
  height: 828px;
  position: relative;
}
.modal.illustrations-content .modal-header .btn-close {
  z-index: 2;
}
.modal.illustrations-content .modal-content .owl-carousel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 30px;
}
.modal.illustrations-content .modal-content .owl-carousel .owl-stage-outer {
  height: 100%;
}
.modal.illustrations-content .modal-content .owl-carousel .owl-stage-outer .owl-stage {
  height: 100%;
}
.modal.illustrations-content .modal-content .owl-carousel .owl-stage-outer .owl-stage .owl-item {
  height: 100%;
}
.modal.illustrations-content .modal-content .owl-carousel .item-slider {
  height: 100%;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-around;
  -moz-box-pack: space-around;
  -ms-flex-pack: sspace-arounds;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
.modal.illustrations-content .modal-content .owl-carousel .item-slider .title {
  height: 45px;
}
.modal.illustrations-content .modal-content .owl-carousel .item-slider .title h4 {
  margin: 0;
  font-family: 'OldNewspaperTypes', 'Arial', sans-serif;
  font-size: 30px;
  color: #010202;
  text-align: center;
}
.modal.illustrations-content .modal-content .owl-carousel .item-slider .illustration {
  width: 652px;
  -moz-flex-grow: 1;
  -ms-flex-grow: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: ccenterc;
  -webkit-justify-content: center;
  justify-content: center;
  margin: 0 auto;
}
.modal.illustrations-content .modal-content .owl-carousel .owl-nav [class^="owl-"] {
  width: 109px;
  height: 67px;
  position: absolute;
  top: calc(50% - 33px);
}
.modal.illustrations-content .modal-content .owl-carousel .owl-nav .owl-prev {
  left: 20px;
}
.modal.illustrations-content .modal-content .owl-carousel .owl-nav .owl-next {
  right: 20px;
}
.modal.illustrations-content .modal-content .owl-carousel .owl-nav .owl-next .back_icon .fleche {
  -webkit-transform-origin: 54px 33px;
  -ms-transform-origin: 54px 33px;
  transform-origin: 54px 33px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
/* RWD */
@media screen and (max-width: 1023px) {
  .modal {
    width: 100vw;
    height: 100vh;
    padding: 15px;
  }
  .modal .modal-header .btn-close {
    height: 45px;
    width: 60px;
  }
  .modal .modal-foter .btn-valider {
    width: 45px;
    height: 60px;
  }
  .modal.scroll-content .modal-header .modal-title {
    font-size: 20px;
  }
  .modal.scroll-content .modal-header .modal-title h2:after {
    width: 183px;
    height: 38px;
    left: calc(50% - 91px);
  }
  .modal.scroll-content .modal-content {
    max-height: none;
    padding: 45px 8px 0 0;
  }
  .modal.illustrations-content {
    width: 100vw;
    height: 100vh;
  }
  .modal.illustrations-content .modal-content .owl-carousel {
    padding: 15px;
  }
  .modal.illustrations-content .modal-content .owl-carousel .item-slider .illustration {
    width: 100%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: ccenterc;
    -webkit-justify-content: center;
    justify-content: center;
    padding-bottom: 50px;
  }
  .modal.illustrations-content .modal-content .owl-carousel .item-slider .illustration img {
    height: 100%;
  }
  .modal.illustrations-content .modal-content .owl-carousel .owl-nav [class^="owl-"] {
    bottom: 25px;
    top: auto;
  }
  .modal.illustrations-content .modal-content .owl-carousel .owl-nav .owl-next {
    right: 15px;
    bottom: 42px;
  }
  .modal.illustrations-content .modal-content .owl-carousel .owl-nav .owl-prev {
    left: 15px;
  }
}
/* animations */
@-webkit-keyframes blowUpModal {
  0% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes blowUpModal {
  0% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-ms-keyframes blowUpModal {
  0% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes blowUpModal {
  0% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes blowUpModal {
  0% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes blowUpModalTwo {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
}
@-moz-keyframes blowUpModalTwo {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
}
@-ms-keyframes blowUpModalTwo {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
}
@-o-keyframes blowUpModalTwo {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
}
@keyframes blowUpModalTwo {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
}
/* --- specific styles --- */
/* home only */
body.home .container-flex {
  max-height: 100vh;
}
