/* --- ICON style & animations --- */

/* -- ANIMATIONS -- */

/* glitch */
.keyframes (glitch;
  {
    45% {
      filter: none;
    }
    46% {
      filter: url(#dist-01);
    }
    47% {
      filter: url(#dist-02);
    }
    48% {
      filter: url(#dist-03);
    }
    50% {
      filter: none;
    }
    95% {
      filter: none;
    }
    96% {
      filter:  url(#dist-02);
    }
    97% {
      filter:  url(#dist-04);
    }
  }
);

/* tremblements */

.keyframes(tremblement1;
  {
    10% {
      .transform(translate(2px, 3px) rotate(-5deg));
      opacity: 1;
    }
    20% {
      .transform(translate(3px, 3px) rotate(-4deg));
      opacity: 0.71;
    }
    30% {
      .transform(translate(2px, 7px) rotate(3deg));
      opacity: 0.83;
    }
    40% {
      .transform(translate(5px, 8px) rotate(-4deg));
      opacity: 0.5;
    }
    50% {
      .transform(translate(7px, -5px) rotate(5deg));
      opacity: 0.71;
    }
    60% {
      .transform(translate(-6px, 7px) rotate(2deg));
      opacity: 0.42;
    }
    70% {
      .transform(translate(-5px, 8px) rotate(3deg));
      opacity: 0.7;
    }
    80% {
      .transform(translate(-7px, -1px) rotate(-2deg));
      opacity: 0.62;
    }
    90% {
      .transform(translate(-4px, 2px) rotate(4deg));
      opacity: 0.5;
    }
    0%, 100% {
      .transform(translate(0, 0) rotate(0));
    }
  }
);

.keyframes(tremblement2;
  {
    10% {
      .transform(translate(2px, 3px) rotate(-5deg));
      opacity: 1;
    }
    20% {
      .transform(translate(3px, 3px) rotate(-4deg));
      opacity: 0.81;
    }
    30% {
      .transform(translate(2px, -5px) rotate(3deg));
      opacity: 0.93;
    }
    40% {
      .transform(translate(4px, 2px) rotate(-4deg));
      opacity: 0.75;
    }
    50% {
      .transform(translate(2px, -7px) rotate(5deg));
      opacity: 0.81;
    }
    60% {
      .transform(translate(-6px, -2px) rotate(2deg));
      opacity: 0.52;
    }
    70% {
      .transform(translate(-5px, 4px) rotate(3deg));
      opacity: 0.8;
    }
    80% {
      .transform(translate(-7px, -1px) rotate(-2deg));
      opacity: 0.62;
    }
    90% {
      .transform(translate(-4px, 2px) rotate(4deg));
      opacity: 0.6;
    }
    0%, 100% {
      .transform(translate(0, 0) rotate(0));
    }
  }
);

/* rotations */
.keyframes(rotation1;
  {
    from {
      .transform(rotate(0deg));
    }
    to {
      .transform(rotate(170deg));
    }
  }
);

.keyframes(rotation2;
  {
    from {
      .transform(rotate(0deg));
    }
    to {
      .transform(rotate(120deg));
    }
  }
);

.keyframes(rotation3;
  {
    from {
      .transform(rotate(0deg));
    }
    to {
      .transform(rotate(260deg));
    }
  }
);

.keyframes(rotation4;
  {
    from {
      .transform(rotate(0deg));
    }
    to {
      .transform(rotate(-200deg));
    }
  }
);

.keyframes(rotation5;
  {
    from {
      .transform(rotate(0deg));
    }
    to {
      .transform(rotate(-230deg));
    }
  }
);

.keyframes(rotation6;
  {
    from {
      .transform(rotate(0deg));
    }
    to {
      .transform(rotate(-290deg));
    }
  }
);

.keyframes(rotation-infinite;
  {
    from {
      .transform(rotate(0deg));
    }
    to {
      .transform(rotate(-360deg));
    }
  }
);

/* pulsations */
.keyframes(pulse4;
  {
    0% {
      fill: @iconColor1;
    }
    30% {
      fill: @iconColor1;
    }
    70% {
        fill: @white;
    }
    100% {
        fill: @iconColor1;
    }
  }
);

.keyframes(pulse5;
  {
    0% {
      fill: @iconColor1;
    }
    60% {
      fill: @iconColor1;
    }
    70% {
        fill: @white;
    }
    80% {
      fill: @iconColor1;
    }
    100% {
        fill: @iconColor1;
    }
  }
);

.keyframes(pulse6;
  {
    0% {
      fill: @iconColor1;
    }
    65% {
      fill: @iconColor1;
    }
    70% {
        fill: @white;
    }
    75% {
      fill: @iconColor1;
    }
    100% {
        fill: @iconColor1;
    }
  }
);

.keyframes(pulse8;
  {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 0;
    }
    32% {
      opacity: 1;
    }
    52% {
      opacity: 0;
    }
    100% {
        opacity: 0;
    }
  }
);

/* blink */
.keyframes(blink1;
  {
    0% {
      opacity: 1;
    }
    15% {
      opacity: 1;
    }
    30% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }
);

/* -- ICONS -- */

/* close */
[class^="btn-"] {
  .close_icon {
    .tache {
      fill: @iconColor2;
      opacity: .5;
      .transition(all 1.7s ease);
    }
    .fond {
      fill: @iconColor2;
    }
    .croix {
      fill: @black;
      .transform-origin(50% 50%);
      .rotate(0deg);
      .transition(all 3.7s ease);
    }
  }
  &:hover {
    .close_icon {
      cursor: pointer;
      .tache {
        fill: @white;
        opacity: 1;
        .transition(all 1.7s ease);
      }
      .croix {
        .rotate(360deg);
        .transition(all 3.7s ease);
      }
    }
  }
}

/* valider */
[class^="btn-"] {
  .valider_icon {
    .tache {
      fill: @iconColor2;
      opacity: .5;
      .transition(all 1.7s ease);
    }
    .fond {
      fill: @iconColor2;
    }
    .signe {
      fill: @black;
      .transform-origin(50% 50%);
      .rotate(0deg);
      .transition(all 3.7s ease);
    }
  }
  &:hover {
    .valider_icon {
      .tache {
        fill: @white;
        opacity: 1;
        .transition(all 1.7s ease);
      }
      .signe {
        .rotate(360deg);
        .transition(all 3.7s ease);
      }
    }
  }
}

/* prev / next */
[class^="btn-"], .owl-prev, .owl-next {
  .back_icon {
    .tache {
      fill: @iconColor2;
      opacity: .5;
      .transition(all 1.7s ease);
    }
    .fleche {
      fill: @black;
    }
  }
  &:hover {
    .back_icon {
      cursor: pointer;
      .tache {
        fill: @white;
        opacity: 1;
        .transition(all 1.7s ease);
      }
      .fleche {
        .animation(glitch 2s infinite);
      }
    }
  }
}

/* tag 1 */
.icon-tag {
  .tag1_icon {
    fill: @iconColor3;
  }
}

/* tag 2 */
[class^="btn-"] {
  .tag_icon {
    .fond {
      fill: @iconColor2;
      opacity: .5;
      .transition(all 1.7s ease);
    }
    .symbole {
      fill: @iconColor3;
      [class^="point"] {
        opacity: 1;
        .transition(all 1.7s ease);
      }
    }
    .branches {
      fill: @iconColor1;
      .transition(all 1.7s ease);
    }
  }
  &:hover, &.active {
    cursor: pointer;
    .fond {
      fill: @black;
      opacity: 1;
      .transition(all 1.7s ease);
    }
    .branches {
      fill: @white;
      .transition(all 1.7s ease);
      .animation(glitch 2s infinite);
    }
    .symbole {
      fill: @white;
      .transition(all 1.7s ease);
      [class^="point"] {
        fill: @white;
        opacity: 0;
        .transition(all 1.7s ease);
        .animation(pulse8 2s infinite);
      }
      .point1 {
        animation-delay: 0;
      }
      .point2 {
        animation-delay: .2s;
      }
      .point3 {
        animation-delay: .4s;
      }
    }
  }
}

/* random */
[class^="btn-"] {
  .random_icon {
    fill: @iconColor3;
    [class^="face"] {
      opacity: 1;
    }
    .face01, .face09 {
      .animation(glitch 3.2s infinite);
    }
    .face02, .face06 {
      .animation(glitch 5.2s infinite);
    }
    .face03, face04 {
      .animation(glitch 7.5s infinite);
    }
    .face05, face08 {
      .animation(glitch 4.0s infinite);
    }
    .face07, face10 {
      .animation(glitch 2.9s infinite);
    }
  }
  &:hover {
    .random_icon {
      .face01 {
        .animation(blink1 1.2s ease infinite);
        .animation-delay(.1s);
      }
      .face02 {
        .animation(blink1 1.0s ease infinite);
        .animation-delay(.2s);
      }
      .face03 {
        .animation(blink1 1.3s ease infinite);
        .animation-delay(0);
      }
      .face04 {
        .animation(blink1 1.5s ease infinite);
        .animation-delay(.3s);
      }
      .face05 {
        .animation(blink1 1.1s infinite);
        .animation-delay(0s);
      }
      .face06 {
        .animation(blink1 1.4s infinite);
        .animation-delay(.3s);
      }
      .face07 {
        .animation(blink1 1.7s infinite);
        .animation-delay(.2s);
      }
      .face08 {
        .animation(blink1 1.9s infinite);
        .animation-delay(0s);
      }
      .face09 {
        .animation(blink1 2.0s infinite);
        .animation-delay(0s);
      }
      .face10 {
        .animation(blink1 1.8s infinite);
        .animation-delay(.1s);
      }
    }
  }
}

/* datepicker */
[class^="btn-"] {
  .datepicker_icon {
    .fond {
      fill: @iconColor2;
      opacity: .5;
      .transition(all 1.7s ease);
    }
    .grille {
      fill: @iconColor3;
    }
    .points {
      fill: @iconColor3;
    }
  }
  &:hover {
    .datepicker_icon {
      cursor: pointer;
      .fond {
        fill: @black;
        opacity: 1;
        .transition(all 1.7s ease);
      }
      .grille {
        .animation(glitch 3s infinite;)
      }
      .points {
        .point1 {
          .animation(pulse4 1.5s ease infinite);
          .animation-delay(.6s);
        }
        .point2 {
          .animation(pulse5 3.5s ease infinite);
          .animation-delay(.4s);
        }
        .point3 {
          .animation(pulse4 1.0s ease infinite);
          .animation-delay(.3s);
        }
        .point4 {
          .animation(pulse6 4.5s ease infinite);
          .animation-delay(0s);
        }
        .point5 {
          .animation(pulse5 4.5s ease infinite);
          .animation-delay(1.2s);
        }
        .point6 {
          .animation(pulse6 4.5s ease infinite);
          .animation-delay(2s);
        }
        .point7 {
          .animation(pulse6 3.7s ease infinite);
          .animation-delay(3.1s);
        }
        .point8 {
          .animation(pulse4 1.5s ease infinite);
          .animation-delay(1.3s);
        }
        .point9 {
          .animation(pulse5 3.5s ease infinite);
          .animation-delay(1.2s);
        }
      }
    }
  }
}

/* facebook */
[class^="btn-"] {
  .facebook_icon {
    .fond {
      fill: @iconColor3;
      .transition(all 1.7s ease);
    }
    .branches {
      fill: @iconColor1;
      .transition(all 1.7s ease);
    }
    .taches {
      fill: @iconColor3;
      .tache1 {
        .transition(all 1.7s ease);
      }
      .tache2 {
        .transition(all 1.7s ease);
      }
    }
  }
  &:hover {
    .facebook_icon {
      cursor: pointer;
      .fond {
        fill: @white;
        .transition(all 1.7s ease);
      }
      .taches {
        .tache1 {
          fill: @black;
          .transition(all 1.7s ease);
        }
        .tache2 {
          fill: @black;
          .transition(all 3.5s ease);
        }
      }
      .branches {
        fill: @white;
        .transition(all 1.7s ease);
        .animation(glitch 3s infinite);
      }
    }
  }
}

/* twitter */
[class^="btn-"] {
  .twitter_icon {
    .corps {
      fill: @iconColor3;
      .transition(all 1.7s ease);
    }
    .serre, .aile {
      fill: @iconColor1;
      .transition(all 1.7s ease);
    }
    .oeil {
      fill: @black;
    }
  }
  &:hover {
    .twitter_icon {
      cursor: pointer;
      animation: glitch 3s infinite;
      .corps {
        fill: @white;
        .transition(all 1.7s ease);
      }
      .aile, .serre {
        fill: @white;
        .transition(all 1.7s ease);
      }
    }
  }
}

/* consulter */
[class^="btn-"] {
  .consulter_icon {
    .taches {
      fill: @iconColor2;
      opacity: .5;
      .transition(all 1.7s ease);
    }
    .forme {
      fill: @iconColor3;
      .transition(all 1.7s ease);
    }
    .oeil1 {
      fill:@iconColor1;
      opacity: 1;
      .transition(all .7s ease;)
    }
    .oeil2 {
      .transition(all 1.7s ease);
      fill: @iconColor3;
      opacity: 0;
    }
  }
  &:hover {
    .consulter_icon {
      cursor: pointer;
      .taches {
        fill: @white;
        opacity: 1;
        .transition(all 1.7s ease);
      }
      .forme {
        fill: @iconColor1;
        .transition(all 1.7s ease);
        .animation(glitch 2s infinite);
      }
      .oeil1 {
        opacity: 0;
        .transition(all .7s ease;)
      }
      .oeil2 {
        .animation(tremblement2 0.5s infinite);
        fille: @white;
        opacity: 1;
        .transition(all 1.7s ease);
      }
    }
  }
}

/* illustrations */
[class^="btn-"] {
  .illustrations_icon {
    .forme {
      fill: @iconColor3;
      opacity: 1;
      .transform-origin(50% 50%);
      .rotate(0deg);
      .transition(all .7s ease);
    }
    .points {
      fill: @iconColor1;
      opacity: 1;
      .transition(all .7s ease);
    }
  }
  &:hover {
    .illustrations_icon {
      .forme {
        .animation(rotation-infinite 1.3s linear infinite);
        fill: @iconColor1;
        opacity: .5;
        .transition(all 1s ease);
      }
      .points {
        .transition(all 1.7s ease);
        [class^="point"] {
          fill: @white;
          opacity: 0;
          .transition(all 1.7s ease);
          .animation(pulse8 2s infinite);
        }
        .point9 {
          .animation-delay(0);
        }
        .point8 {
          .animation-delay(.2s);
        }
        .point7 {
          .animation-delay(.4s);
        }
        .point6 {
          .animation-delay(.6s);
        }
        .point5 {
          .animation-delay(.8s);
        }
        .point4 {
          .animation-delay(1.0s);
        }
        .point3 {
          .animation-delay(1.2s);
        }
        .point2 {
          .animation-delay(1.4s);
        }
        .point1 {
          .animation-delay(1.6s);
        }
      }
    }
  }
}

/* infos */
[class^="btn-"] {
  .info_icon {
    .fond {
      fill: @iconColor1;
      opacity: .5;
    }
    .interrogation {
      fill: @iconColor3;
      transform-origin: 60% 50%;
      transition: all 1.7s ease;
    }
    .tache {
      fill: @iconColor3;
      transform-origin: 60% 50%;
      transition: all 1.7s ease;
    }
  }
  &:hover {
    .info_icon {
      cursor: pointer;
      .tache {
        fill: @black;
        transition: all 1.7s ease;
        .animation(tremblement1 0.5s infinite);
      }
      .interrogation {
        fill: @white;
        transition: all 1.7s ease;
        .animation(tremblement1 0.5s infinite);
      }
    }
  }
}

/* contributeurs */
[class^="btn-"] {
  .contributeurs_icon {
    .tache {
      fill: #3d3d3d;
      opacity: .5;
      .transition(all 1.7s ease);
    }
    .forme {
      fill: @iconColor3;
      .cercle {
        fill: @iconColor1;
      }
      .fleche {
        fill: @iconColor3;
        .transform-origin(50% 50%);
        .rotate(0deg);
        .transition(all 2.7s ease-out);
      }
    }
    .branches {
      fill: @iconColor1;
      .transition(all 1.7s ease);
      .branche1 {
        .transform-origin(0% 100%);
      }
      .branche2 {
        .transform-origin(0% 0%);
      }
      .branche3 {
        .transform-origin(5% 40%);
      }
      .branche4 {
        .transform-origin(100% 0%);
      }
      .branche5 {
        .transform-origin(100% 95%);
      }
      .branche6 {
        .transform-origin(96% 95%);
      }
    }
    }
  &:hover {
    .contributeurs_icon {
      cursor: pointer;
      .branches {
        fill: @iconColor3;
        .transition(all 1.7s ease);
        .branche1 {
          .animation(rotation1 .7s ease forwards);
          animation-delay: 3.0s;
        }
        .branche2 {
          .animation(rotation2 .9s ease forwards);
          animation-delay: 2.8s;
        }
        .branche3 {
          .animation(rotation3 1.1s ease forwards);
          animation-delay: 2.7s;
        }
        .branche4 {
          .animation(rotation4 .8s ease forwards);
          animation-delay: 2.6s;
        }
        .branche5 {
          .animation(rotation5 .8s ease forwards);
          animation-delay: 2.3s;
        }
        .branche6 {
          .animation(rotation6 1.0s ease forwards);
          animation-delay: 2.7s;
        }
      }
      .tache {
        fill: @black;
        opacity: 1;
        transition: all 1.7s ease;
      }
      .forme {
        .fleche {
          fill: @white;
          transform: rotate(180deg);
          transition: all 2.7s ease-in;
        }
      }
    }
  }
}
