/* ICON style & animations */

/* close */
.close_icon {
  .tache {
    fill: @iconColor2;
    opacity: .5;
    .transition(all 1.7s ease);
  }
  .fond {
    fill: @iconColor2;
  }
  .croix {
    fill: @black;
    .transform-origin(50% 50%);
    .rotate(0deg);
    .transition(all 3.7s ease);
  }
  &:hover {
    cursor: pointer;
    .tache {
      fill: @white;
      opacity: 1;
      .transition(all 1.7s ease);
    }
    .croix {
      .rotate(360deg);
      .transition(all 3.7s ease);
    }
  }
}

/* valider */
.valider_icon {
  .tache {
    fill: @iconColor2;
    opacity: .5;
    .transition(all 1.7s ease);
  }
  .fond {
    fill: @iconColor2;
  }
  .signe {
    fill: @black;
    .transform-origin(50% 50%);
    .rotate(0deg);
    .transition(all 3.7s ease);
  }
  &:hover {
    .tache {
      fill: @white;
      opacity: 1;
      .transition(all 1.7s ease);
    }
    .signe {
      .rotate(360deg);
      .transition(all 3.7s ease);
    }
  }
}

/* prev / next */
.back_icon {
  .tache {
    fill: @iconColor2;
    opacity: .5;
    .transition(all 1.7s ease);
  }
  .fleche {
    fill: @black;
  }
  &:hover {
    cursor: pointer;
    .tache {
      fill: @white;
      opacity: 1;
      .transition(all 1.7s ease);
    }
    .fleche {
      .animation(glitch 2s infinite);
    }
  }
}

/* ANIMATIONS */
.keyframes (glitch;
  {
    45% {
      filter: none;
    }
    46% {
      filter: url(#dist-01);
    }
    47% {
      filter: url(#dist-02);
    }
    48% {
      filter: url(#dist-03);
    }
    50% {
      filter: none;
    }
    95% {
      filter: none;
    }
    96% {
      filter:  url(#dist-02);
    }
    97% {
      filter:  url(#dist-04);
    }
  }
);