/* --- layout --- */

* {
  box-sizing:border-box;
}

/* body */
body {
  margin: 0;
  padding: 0;
  background-image: url("../img/backgrounds/04-peril.jpg");
  background-color: @black;
  background-repeat: no-repeat;
  background-position: center center;
  .background-size(cover);
  .roboto-regular();
}

/* ratio & display */
.error-ratio {
  display: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  .align-items(center);
  .justify-content(center);
  &.on {
    .flex-block();
  }
}
