/* --- layout --- */

* {
  box-sizing:border-box;
}

.glitch-effect {
  width: 0;
  height: 0;
}

/* body */
body {
  margin: 0;
  padding: 0;
  background-image: url("../img/backgrounds/11-vomembres.jpg");
  background-color: @black;
  background-repeat: no-repeat;
  background-position: center center;
  .background-size(cover);
  .roboto-regular();
  height: 100vh;
  overflow: hidden;
  &.modal-active {
    overflow: hidden;
  }
}

/*body.home, body.consultation {
  .container-flex {
    max-height: 100vh;
  }
}*/

/* container flex */
.container-flex {
  display: block;
  width: 100vw;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 80px;
}

/* header */
header {
  .rwd-title {
    display: none;
    text-align: center;
    a {
      display: inline-block;
      text-decoration: none;
      color: @white;
      .old-regular();
      h1 {
        text-transform: uppercase;
        line-height: .9;
        font-size: 45px;
        margin: 0;
      }
      span {
        display: inline-block;
        font-size: 37px;
        margin-right: 8px;
      }
      h2 {
        text-transform: uppercase;
        font-size: 37px;
        display: inline-block;
        margin: 0;
      }
    }
  }
  h1 {
    margin: 0;
  }
  nav {
    position: initial;
    .flex-block();
    .align-items(center);
    .justify-content(space-between);
    height: 130px;
    .nav {
      width: 100px;
      text-align: center;
    }
    .home {
      margin-left: -20px;
      margin-right: 35px;
      .btn-nav-home {
        width: 131px;
        height: 84px;
      }
    }
    .consultation {
      .btn-nav-consultation {
        width: 85px;
        height: 108px;
        margin-top: 15px;
      }
    }
    .illustrations {
      .btn-nav-ilustrations {
        width: 100px;
        height: 83px;
      }
    }
    .title {
      .flex-grow(1);
      text-align: center;
      a {
        display: inline-block;
        text-decoration: none;
        color: @white;
        .old-regular();
        h1 {
          text-transform: uppercase;
          line-height: .9;
          font-size: 45px;
          margin: 0;
        }
        span {
          display: inline-block;
          font-size: 37px;
          margin-right: 8px;
        }
        h2 {
          text-transform: uppercase;
          font-size: 37px;
          display: inline-block;
          margin: 0;
        }
      }
    }
    .infos {
      .btn-nav-infos {
        width: 76px;
        height: 84px;
      }
    }
    .contributeurs {
      .btn-nav-contributeurs {
        width: 97px;
        height: 95px;
      }
    }
  }
}

/* home : page content */
body.home .page-content {
  color: @white;
  height: calc(~"100vh - 160px");
  .flex-block();
  .flex-direction(column);
  .align-items(center);
  .text-content {
    height: 350px;
    width: 100%;
    .flex-block();
    .text-block {
      width: 100%;
      .flex-block();
      .flex-wrap(wrap);
      .align-items(center);
      align-content: center;
      .justify-content(center);
      [class^="item-"] {
        text-align: center;
      }
      .item-tag, .item-partage, .item-auteur {
        width: 33%;
      }
      .item-date {
        width: 100%;
        font-size: 17px;
        color: @whiteText3;
      }
      .item-text {
        width: 100%;
        margin: 10px 0 20px 0;
        font-size: 23px;
        color: @whiteText2;
      }
      .item-tag {
        .flex-block();
        .align-items(center);
        .justify-content(flex-start);
        .icon-tag {
          margin-right: 10px;
          width: 39px;
          height: 34px;
        }
        .name-tag {
          font-size: 17px;
          color: @whiteText3;
        }
      }
      .item-partage {
        .flex-block();
        .align-items(center);
        .justify-content(center);
        .item-facebook {
          .btn-facebook {
            width: 38px;
            height: 49px;
            margin-right: 15px;
          }
        }
        .item-twitter {
          .btn-twitter {
            width: 57px;
            height: 49px;
          }
        }
      }
      .item-auteur {
        text-align: right;
        font-size: 15px;
        color: @whiteText3;
      }
    }
  }
  .random-content {
    .flex-grow(1);
    width: 100%;
    .flex-block();
    .flex-direction(column);
    .align-items(center);
    .justify-content(center);
    .filtre {
      margin-bottom: 5px;
      .btn-modal {
        width: 80px;
      }
    }
    .random {
      margin-bottom: 15px;
      .btn-random {
        width: 100px;
      }
    }
  }
  .datepicker-content {
    .flex-grow(1);
    width: 100%;
    .flex-block();
    .align-items(center);
    .justify-content(center);
    margin-bottom: 15px;
    .btn-modal {
      width: 75px;
    }
  }
  [class^="separator-"] {
    width: 225px;
    overflow: visible;
    .separator_icon {
      fill: @iconColor1;
    }
  }
  .separator-1 {
    height: 5px;
  }
  .separator-2 {
    height: 25px;
  }
}

/* consultation : page content */
body.consultation .page-content {
  height: calc(~"100vh - 130px");
  .filter-bar {
    .flex-block();
    .align-items(center);
    .justify-content(center);
    height: 70px;
    [class^="filter-item-"] {
      margin: 0 46px;
    }
    .filter-item-tag {
      .btn-modal {
        width: 50px;
      }
    }
    .filter-item-mois {
      .btn-modal {
        width: 100px;
      }
    }
    .filter-item-auteur {
      .btn-modal {
        width: 50px;
      }
    }
  }
  .text-content {
    height: calc(~"100vh - 200px");
    padding-bottom: 15px;
    .text-block {
      .flex-block();
      .flex-direction(column);
      .align-items(center);
      .item-date {
        font-size: 17px;
        color: @whiteText3;
      }
      .item-text {
        text-align: center;
        font-size: 23px;
        color: @whiteText2;
      }
      .infos {
        width: 100%;
        height: 0;
        opacity: 0;
        .transition(all .7s ease);
        .flex-block();
        .align-items(flex-end);
        .justify-content(space-around);
        .item-tag {
          width: 33%;
          .flex-block();
          .align-items(center);
          .justify-content(center);
          .icon-tag {
            margin-right: 10px;
            width: 34px;
            height: 30px;
          }
          .name-tag {
            font-size: 16px;
            color: @whiteText3;
          }
        }
        .item-partage {
          width: 33%;
          .flex-block();
          .align-items(center);
          .justify-content(center);
          .item-facebook {
            .btn-facebook {
              width: 30px;
              height: 39px;
              margin-right: 15px;
            }
          }
          .item-twitter {
            .btn-twitter {
              width: 46px;
              height: 39px;
            }
          }
        }
        .item-auteur {
          width: 33%;
          font-size: 15px;
          color: @whiteText3;
          text-align: center;
        }
      }
      .separator {
        width: 225px;
        overflow: visible;
        margin-top: 25px;
        .separator_icon {
          fill: @iconColor1;
        }
      }
      &:hover {
        .infos {
          height: 70px;
          opacity: 1;
          .transition(all .7s ease);
        }
      }
    }
  }
}

/* ratio & display */
.container.hidden, .modal-container.hidden {
  display: none;
}
.error-ratio {
  display: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  .align-items(center);
  .justify-content(center);
  h1 {
    .old-regular();
    color: @white;
    font-size: 45px;
  }
  &.on {
    .flex-block();
  }
}
