/* --- layout --- */

/* body */
body {
  margin: 0;
  height: 100vh;
  background-image: url("../img/backgrounds/04-peril.jpg");
  background-color: @black;
  background-repeat: no-repeat;
  background-position: center center;
  .background-size(cover);
}
