/* Modales */

/* --- global --- */
/* open / close */
.modal-container {
  position:fixed;
  .flex-block();
  .align-items(center);
  .justify-content(center);
  height:100vh;
  width:100vw;
  top:0;
  left:0;
  .scale(@factor: 0);
  z-index:1;
  
  &.opened {
    z-index:0;
    .scale(@factor: 1);
    .modal-background {
      background:rgba(0,0,0,.7);
      .modal {
        animation: blowUpModal .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
      }
    }
    +.container {
      z-index:1;
    }
    &.out {
      animation: blowUpModalTwo .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
      .modal-background {
        .modal {
          animation: blowUpModalTwo .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
        }
      }
      +.container {
      }
    }
  }
  
  .modal-background {
    .flex-block();
    .align-items(center);
    .justify-content(center);
    height:100vh;
    width:100vw;
    background:rgba(0,0,0,.8);
    .modal {
      display: none;
      background: @bgModal;
      .box-shadow(0px 0px 80px 80px #010202);
      color: @black;
      position:relative;
      
      &.opened-modal {
        .flex-block();
      }
    }
  }
}

/* modal style global */
.modal {
  width: 738px;
  height: 720px;
  padding: 30px;
  .flex-block();
  .flex-direction(column);
  .modal-header {
    .flex-block();
    .modal-title {
      .flex-grow(1);
      .flex-block();
      .align-items(center);
      .justify-content(center);
      .old-regular();
      color: @greyText2;
      font-size: 25px;
      h2 {
        margin: -25px 0 0 0;
        position: relative;
        &.after-decoration {
          &:after {
            content: " ";
            display: inline-block;
            position: absolute;
            width: 225px;
            height: 47px;
            left: calc(~"50% - 112px");
            bottom: -50px;
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg class='separator_icon' enable-background='new 0 0 578.93 121.819' height='121.819' viewBox='0 0 578.93 121.819' width='578.93' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m434.62 20.306c17.481-16.46 118.505 42.174 144.31 60.265-16.216-18.62-69.65-48.15-90.773-55.479 17.557-1.407 45.826-1.338 61.506 3.911-9.434-9.169-51.211-13.113-67.034-8.658-22.815-10.371-43.134-11.327-48.913-9.072-13.023-5.527-36.563-7.224-45.674-8.357-9.117-1.132-29.212 3.252-40.086 11.454-5.395.605-21.725-8.273-23.363-8.273-1.641 0-4.146.979-4.146.979v.042c-7 .139-83.397-9.275-94.685-6.656-11.079 2.57-69.233 6.548-78.315 6.488v-.042c-11-3.473-22.116-6.555-23.649-5.979-3.319 1.234-19.021-2.261-32.307.884-13.767 2.071-71.728 12.079-91.491 21.34 12.6-5.095 80.807-13.333 80.807-13.333s-10.735 15.128-19.846 23.417c-5.078 4.617-33.768 19.718-44.655 28.114l-4.221 2.496 5.226-1.218c12.609-5.82 38.706-21.322 38.706-21.322s-14.767 15.982-28.823 32.781l-3.057 6.33 5.212-4.048c22.182-20.077 63.324-74.107 78.886-70.036 9.731 2.549 22.086 5.569 34.969 9.173l3.242.093v.028c6 .853 74.087-7.121 83.761-8.912 9.587-1.775 81.877 14.04 90.306 13.919 1.709 1.183 3.366 2.414 4.894 3.766 11.509 7.856 16.819 7.277 24.581 1.022 7.757-6.237 24.526-14.016 52.899-11.253 28.387 2.742 23.756 7.029 23.756 7.029s37.596 60.06 94.006 100.618l2.693-1.896c-30.218-26.793-70.929-61.9-88.722-99.615z' fill='%236d6d6d'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-size: 100% 100%;
          }
        }
      }
    }
    .btn-close {
      width: 75px;
      height: 57px;
      margin-top: -7px;
      margin-right: -12px;
    }
  }
  .modal-footer {
    .flex-block();
    .justify-content(center);
    .btn-valider {
      width: 75px;
      height: 57px;
    }
  }
  .modal-content {
    .flex-grow(1);
  }
}

/* modal with scrollable content */
.modal.scroll-content {
  .modal-header {
    .btn-close {
      width: 60px;
      
    }
  }
  .modal-content {
    padding: 50px 12px 0 0;
    max-height: 610px;
    font-size: 15px;
    overflow-y: auto;
    .modal-p {
      margin: 0 0 25px 0;
      a {
        .roboto-bold();
        color: @black;
      }
      strong {
        .roboto-bold();
      }
    }
    .sub-title {
      margin: 0 0 20px 0;
      font-size: 17px;
    }
    .mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
      background-color: @greyText1;
    }
    .mCS-dark.mCSB_scrollTools .mCSB_draggerRail {
      background-color: @white;
    }
  }
}

/* RWD */
@media screen and (max-width: 1023px) {
  .modal {
    width: 100vw;
    height: 100vh;
    padding: 15px;
    .modal-header {
      .btn-close {
        height: 45px;
        width: 60px;
      }
    }
    .modal-foter {
      .btn-valider {
      width: 45px;
      height: 60px;
    }
    }
    &.scroll-content {
      .modal-header {
        .modal-title {
          font-size: 20px;
          h2 {
            &:after {
              width: 183px;
              height: 38px;
              left: calc(~"50% - 91px");
            }
          }
        }
      }
      .modal-content {
        max-height: none;
        padding: 45px 8px 0 0;
      }
    }
  }
}

/* animations */
.keyframes(blowUpModal;
  {
    0% {
      .scale(@factor: 0);
    }
    100% {
      .scale(@factor: 1);
    }
  }
);

.keyframes(blowUpModalTwo;
  {
    0% {
      .scale(@factor: 1);
      opacity:1;
    }
    100% {
      .scale(@factor: 0);
      opacity:0;
    }
  }
);