// colors
@black: #010202;
@white: #fff;

@whiteText1: #fff;
@whiteText2: #dcdad5;
@whiteText3: #a4a3a0;

@greyText1: #666;
@greyText2: #333;

@blackText: #010202;

@bgModal: #ececec;

@iconColor1: #6d6d6d;

// font
.roboto-regular {
  font-family: 'RobotoSlab-Regular', 'Arial', sans-serif;
}

.roboto-bold {
  font-family: 'RobotoSlab-Bold', 'Arial', sans-serif;
}

.old-regular {
  font-family: 'OldNewspaperTypes', 'Arial', sans-serif;
}